@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Playfair Display', serif;
  background-color: #e6e4cd;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(180, 177, 177, 0.886);
}

h1 {
  text-align: center;
  color: #f2ca01e5;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-button {
  background-color: #cac79f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 0 5px;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.filter-button:hover {
  background-color: #e9c203;
  transform: scale(1.05);
}

.filter-button.pressed {
  background-color: #e9c203;
  transform: scale(1.05);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  position: relative;
  margin: 15px;
  width: 28%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 320px;
}

.product-item img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.product-item img:hover {
  transform: scale(1.03);
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-item:hover .product-overlay {
  opacity: 1;
}

.product-name {
  font-size: 1.1em;
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.product-price {
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 15px;
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}